// palette
$c-main: #fff;
$c-secondary: #28282e;
$c-third: #888888;
$c-accent1: #f6f6f6;
$c-accent2: #ef443a;

// breakpoints
$xs: 360px;
$sm: 480px;
$md: 640px;
$lg: 960px;
$xl: 1280px;
$xxl: 1680px;

@mixin bp($point) {
  @media screen and (min-width: $point) { @content; }
}

